#login-image:hover {
    opacity: 0.85;
}

button img {
    width: 1.2675em;
    height: 1.2675em;
    margin: 0;
    display: none;
}

.row {
    white-space: nowrap;
    margin-bottom: 1.5em;
    clear: both;
}

.column {
    display: inline-block;
    width: 50%;
    min-width: 228px;
}

p {
    text-align: right;
    margin-bottom: 0.85em;
    margin-inline: 0.7em;
    line-height: 1em;
}

h1 {
    font-size: 36px;
    margin-inline: 0.3em;
    word-wrap: normal;
    white-space: normal;
}

h2 {
    font-size: 30px;
    margin-inline: 0.3em;
    word-wrap: normal;
    white-space: normal;
}

#csr-buttons {
    overflow: auto;
}

#left-buttons,
#right-buttons {
    display: inline-block;
}

#right-buttons {
    float: right;
}

.align-left,
.align-right {
    margin-top: 0.67em;
}

.align-left {
    margin-left: 0.67em;
    float: left;
}

.align-right {
    margin-right: 0.67em;
    float: right;
}

button.align-left,
#other-button {
    background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
}

button.align-left:hover,
#other-button:hover {
    background: linear-gradient(to bottom, #b6d908 5%, #80a006 95%);
    color: #fff;
}

.rec-size-label-small {
    display: none;
}

.column-switch-button {
    display: none;
}

details > * {
    margin-left: 1em;
}

details > summary {
    cursor: pointer;
    margin-left: 0;
}

details > p {
    text-align: left;
    margin-block: 0.5em;
}

.checkbox {
    display: flex;
}

.checkbox > label {
    margin: auto 0.5em;
}

table {
    table-layout: auto;
    width: 100%;
}

table .absorbing-column {
    width: 100%;
}

tbody tr {
    height: 57px;
}

th,
td {
    letter-spacing: 1px;
    font-size: 24px;
}

th {
    font-weight: 700;
    padding: 5px 10px;
}

td {
    padding: 5px;
    white-space: normal;
    word-break: break-word;
}

#recommendations td:nth-child(1),
#ownedgames td:nth-child(2) {
    text-align: center;
}

figure {
    overflow: auto;
    display: flex;
    margin: 0;
}

figure img {
    float: left;
    margin: auto 0.5em auto 0;
    max-width: 120px;
    max-height: 45px;
}

figcaption {
    margin: auto 0;
}

body,
a,
a:visited {
    color: #212121;
}

a:hover {
    text-decoration: underline;
}

label {
    color: #212121;
    margin-right: 0.3333em;
}

select {
    font-size: 24px;
}

#csr-buttons select {
    font-size: 15px;
    height: 2.067em;
}

input[type=text],
input[type=text]:focus,
input[type=submit] {
    font-size: 24px;
    width: 120px;
    margin: 0 0.67em 0.67em 0.67em;
}

input[type=text] {
    border: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 2px;
}

input[type=text]:focus {
    border: 1px solid #444;
    border-bottom: 2px solid #444;
}


@media (max-width: 900px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 22px; 
    }

    th,
    td,
    select,
    input[type=text],
    input[type=text]:focus,
    input[type=submit] {
        font-size: 18px;
    }

    input[type=text],
    input[type=text]:focus,
    input[type=submit] {
        width: 100px;
    }
}

@media (max-width:767px) {
    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    tbody tr {
        height: 43px;
    }

    th,
    td,
    select,
    input[type=text],
    input[type=text]:focus,
    input[type=submit] {
        font-size: 15px;
        letter-spacing: 0;
    }

    input[type=text],
    input[type=text]:focus,
    input[type=submit] {
        width: 80px;
    }

    figure img {
        max-width: 80px;
        max-height: 30px;
    }
}

@media (max-width:680px) {
    .align-left,
    .align-right {
        clear: both;
    }

    .rec-size-label-small {
        display: inline;
    }

    .rec-size-label-large {
        display: none;
    }

    .rec-number {
        width: 8.7em;
    }

    .column-switch-button {
        display: block;
    }

    button.align-left {
        width: 10em;
    }
    
    button.align-right {
        width: 7.75em;
    }

    .column {
        width: 100%;
    }

    #rec-column {
        display: none;
    }
}

@media (max-width:330px) {
    button.align-right {
        width: auto;
    }

    .align-right span {
        display: none;
    }

    button img {
        display: block;
    }
}

@media (min-width:680px) {
    .column {
        display: inline-block !important;
    }
}