a.header-button {
    display: inline-block;
    background: #fff;
    margin-top: 30px;
    padding: 15px 25px;
    border-radius: 3px;
    color: #696969
}

@media (min-width:768px) {
    ul.dropdown-menu:after {
        bottom: 100%;
        right: 20%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px
    }
}

body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

a:active,
a:hover,
input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: 0
}

blockquote,
blockquote p {
    font-size: 18px
}

table {
    width: 100%
}

iframe
{
    width: 640px;
	margin-bottom: 1em !important;
}

body {
    background: #ffffff;
}

body,
button,
input,
select,
textarea {
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Source Sans Pro', 'helvetica neue', helvetica, arial, verdana
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #212121;
    font-family: Lato, sans-serif, 'helvetica neue', helvetica, arial, verdana;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2px;
}

blockquote,
cite,
dfn,
em,
i {
    font-style: italic
}

p {
    margin-bottom: 1.5em;
    line-height: 1.7em;
    font-size: 15px;
    color: #212121;
}

li
{
	font-size: 15px;
}

ul
{
	margin-bottom: 1em;
}

a {
    color: #607D8B;
    text-decoration: none
}

a:visited {
    color: #78909c;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a img {
    border: 0
}

dd {
    margin: 0 1.5em 1.5em
}

blockquote {
    border-left: 5px solid #455A64;
    background: #F5f5f5;
    margin-left: .5em
}

code {
    white-space: normal;
    color: #666
}

table {
    border-collapse: separate;
    border-spacing: 0
}

table caption {
    text-align: center;
    text-transform: uppercase
}

thead {
    background-color: #ddd;
    color: #212121
}

table,
td,
th {
    border: 1px solid #ccc
}

td,
th {
    padding: .7em;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background: #eee
}

button,
input,
select,
textarea {
    margin: 0;
    max-width: 100%;
    vertical-align: baseline
}

embed,
iframe,
object {
    max-width: 100%
}

button,
input,
textarea {
    font-family: inherit;
    padding: 5px
}

input,
textarea {
    color: #424242;
    border: 1px solid #aaa1a8
}

button,
button:hover,
html input[type=button],
html input[type=button]:hover,
input[type=reset],
input[type=reset]:hover,
input[type=submit],
input[type=submit]:hover {
    border: 1px solid #444;
    border-radius: 2px;
    cursor: pointer;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    background-color: #ac4600;
    color: #fff;
}

button:hover:enabled,
html input[type=button]:hover:enabled,
input[type=reset]:hover:enabled,
input[type=submit]:hover:enabled
{
    background-color: #913b00;
	color: #ccc;
}

button:focus
{
    border: 1px solid #444;
}

button:disabled
{
    background-color: #ac460059;
	color: #4448;
	border-color: #4446;
}

input[type=email],
input[type=email]:focus,
input[type=text],
input[type=text]:focus,
textarea,
textarea:focus {
    color: #424242;
}

input[type=search].search-field {
    border-radius: 2px 0 0 2px;
    width: -webkit-calc(100% - 42px);
    width: calc(100% - 42px)
}

img {
    margin-bottom: 0.5em;
	margin-top: 0.5em;
}

@media (max-width:900px) {
    body {
        font-size: 16px
    }

    h1 {
        font-size: 26px
    }

    h2 {
        font-size: 22px
    }

    h3 {
        font-size: 18px
    }

    h4 {
        font-size: 16px
    }

    h5 {
        font-size: 14px
    }

    h5 a {
        color: #777777 !important;
    }

    h6 {
        font-size: 12px
    }

    blockquote {
        margin-left: .3em
    }

    iframe,
    input,
    textarea {
        width: 100%
    }
}

@media (max-width:767px) {
    body {
        font-size: 16px
    }
}

@media print {
    body {
        background: 0 0 !important;
        color: #000;
        font-size: 10pt
    }
}

h5,
h6 {
    font-size: 16px
}

input[type=email],
input[type=email]:focus,
input[type=text],
input[type=text]:focus,
textarea,
textarea:focus {
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    background: #fff;
    width: 100%
}