<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Custom Steam Recommendations</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{url_for('static', filename='scripts/restrict_to_iframe.js')}}"></script>
    </head>
    <body onpageshow="restrictToIframe()">
        <a href="{{url_for('login_with_steam')}}" target="_blank"><img src="{{url_for('static', filename='images/sits_large_border.png')}}" alt="Login with Steam"></a>
        
        <script>
            $(window).on("focus", function() {
                $.ajax({
                    type: "GET",
                    url: "{{url_for('confirm_login')}}",
                    success: function(response) {
                        if (response.length > 0) {
                            window.location = "{{url_for('get_user_id')}}";
                        }
                    },
                });

                
            });
        </script>
    </body>
</html>