<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Owned Games</title>
	</head>
	<body>
		<table id="ownedgames" width="50%">
			<thead>
				<tr>
					<th>Game</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
			{% for game in games %}
				<tr>
					<td>
						<img src = {{game.game_logo_url}}>
						{{game.game_name}}
					</td>
					<td>
						<form>
							<select name="rating" onchange="assignRating({{game.game_id}}, this.value)">
								<option value="exclude" selected="selected">*Exclude*</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			function assignRating(gameID, rating) {
				var data = {
					id: gameID,
					rating: rating
				};
			
				$.ajax({
					type: "POST",
					url: "/assign_rating",
					data: JSON.stringify(data),
					contentType: "application/json",
					dataType: 'json'
			    });
			}
			</script>
	</body>
</html>