<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Owned Games</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<style>
			.column {
				float: left;
				width: 50%;
			}

			.row:after {
				content: "";
				display: table;
				clear: both;
			}
		</style>
	</head>
	<body>
		<button type="button" onclick="recommendGames()">Recommend Games</button>
		<div class="row">
			<div class="column">
				<h1>Current Library:</h1>
				<table id="ownedgames">
					<thead>
						<tr>
							<th>Game</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
					{% for game in games %}
						<tr>
							<td>
								<a href={{game.store_url}}>
									<img src = {{game.game_logo_url}}>
								</a>
								{{game.game_name}}
							</td>
							<td>
								<form>
									<select name="rating" onchange="assignRating({{game.game_id}}, this.value)">
										<option value="exclude" selected=>*Exclude*</option>
										{% for i in range(1, 11) %}
											<option
											value="{{i}}"
											{% if i == game.rating %} selected {% endif %}>
											{{i}}</option>
										{% endfor %}
									</select>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="column">
				<h1>Recommendations:</h1>
				<table id="recommendations">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Game</th>
						</tr>
					</thead>
					<tbody>
						{% for i in range(100) %}
							{% set index = i + 1 %}
							{% set id = "rec" ~ index %}
							<tr>
								<td>{{index}}.</td>
								<td id = {{id}}></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<button type="button" onclick="recommendGames()">Recommend Games</button>
		
		<script>
			function assignRating(gameID, rating) {
				var data = {
					id: gameID,
					rating: rating
				};
			
				$.ajax({
					type: "POST",
					url: "/assign_rating",
					data: JSON.stringify(data),
					contentType: "application/json",
					dataType: 'json'
			    });
			}

			function recommendGames() {
				$.ajax({
					type: "GET",
					url: "/recommend_games",
					success: function(response) {
						for (let i = 0; i < 100; i++) {
							let game = JSON.parse(response[i])
							let innerHTML = "<a href=" + game.store_url + "><img src = " + game.game_logo_url + ">" + "</a>" + game.game_name;
							$("#rec" + (i+1)).html(innerHTML);
						}
					},
				});
			}
			</script>
	</body>
</html>