<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Custom Steam Recommendations - {{user_name}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{{url_for('static', filename='scripts/restrict_to_iframe.js')}}"></script>
		<script src="{{url_for('static', filename='scripts/owned_games.js')}}"></script>
		<style>
			.column {
				float: left;
				width: 50%;
			}

			.row:after {
				content: "";
				display: table;
				clear: both;
			}
		</style>
	</head>
	<body onpageshow="restrictToIframe()" data-assignrating="{{url_for('assign_rating')}}" data-recommendgames="{{url_for('recommend_games')}}">
		<p>Logged in as {{user_name}}</p>
		<button type="button" onclick="recommendGames()">Recommend Games</button>
		<button type="button" onclick="window.location.href = '{{url_for('logout')}}'">Log Out</button>
		<div class="row">
			<div class="column">
				<h1>Current Library:</h1>
				<table id="ownedgames">
					<thead>
						<tr>
							<th>Game</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
					{% for game in games %}
						<tr>
							<td>
								<a href="#" onclick='window.open("{{game.store_url}}");return false;'><img src={{game.game_logo_url}} alt={{game.game_name}}></a>
								{{game.game_name}}
							</td>
							<td>
								<form>
									<select name="rating" onchange="assignRating({{game.game_id}}, this.value)">
										<option value="exclude" selected=>*Exclude*</option>
										{% for i in range(1, 11) %}
											<option
											value="{{i}}"
											{% if i == game.rating %} selected {% endif %}>
											{{i}}</option>
										{% endfor %}
									</select>
								</form>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="column">
				<h1>Recommendations:</h1>
				<table id="recommendations">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Game</th>
						</tr>
					</thead>
					<tbody>
						{% for i in range(100) %}
							{% set index = i + 1 %}
							{% set id = "rec" ~ index %}
							<tr>
								<td>{{index}}.</td>
								<td id = {{id}}></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<button type="button" onclick="recommendGames()">Recommend Games</button>
		<button type="button" onclick="window.location.href = '{{url_for('begin')}}'">Log Out</button>
	</body>
</html>